<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias labore illum saepe doloremque voluptates, neque dolorum expedita a sed sit ratione eligendi. Reprehenderit corporis soluta accusantium fugit. Atque, dolor magni.
          Facilis quisquam debitis, repellendus voluptatem nisi eveniet, nam officia laboriosam amet ipsa optio repellat corporis molestiae minima eligendi quos, recusandae eaque quibusdam repudiandae! Ipsam eveniet debitis voluptate consequuntur quasi voluptatum.
          Officiis assumenda pariatur veritatis provident consectetur cumque illo libero a repudiandae dignissimos quis ad laboriosam quidem voluptatibus, culpa ea eum voluptatem eos quam doloremque ipsam voluptates autem nulla! Eos, aliquam?
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>