<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item1</h2>
     
        <svg class="icon icon--white collapsible__chevron collapsible__color">
            <use xlink:href="#src-1"></use>
        </svg>
      
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo illum vel reiciendis quasi dolore repudiandae corporis quo harum possimus fuga.
    </div>
  </div>